#HAMDNAG94 {
	padding: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 18rem
}

@media (max-width: 600px) {
	#HAMDNAG94 {
		padding-top: 18rem;
		padding-bottom: 25rem;
		flex-direction: column;
		gap: 38rem
	}
}

.ii {
	background-color: var(--background) !important;
}